@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

*{
    padding: 0px; margin: 0px;
    list-style-type: none;
    box-sizing: border-box;
    color: black;
    font-size: 16px;
    font-family: 'PyeongChangPeace-Bold';
}
.topMenu{
    display: flex;
    justify-content: space-between;
}
#mainMenu{
    display:flex;
    margin: 0px;
}
#mainMenu > li{
    margin: 0px 20px;
    font-size: 20px;
}
#loginMenu{
    display:flex;
    margin: 0px;
}
#loginMenu > li{
    margin: 0px 15px;
}
